body{
    font-family: gothic-book;
    padding-top: 100px;
}

@font-face {
    font-family: gothic-book;
    src: url(../fonts/gotham-book-webfont.woff);
}

#table-wrapper{
	overflow-x: scroll;
}

#company-table{
	table-layout: fixed;
	width: 120%;
	max-width: none;
}

#company-table.table thead tr th {
  background: #78909c;
  color:#ffffff;
  padding: 12px;
  text-align: center;
  border:none;
 }

 #company-table.table tr:hover {
	background: #caecfd;
}

#company-table.table thead th:first-child {
  width:20%;
}
.navbar-nav>li{
	padding-left: 10px;
}

.nav>li>a.circular-button{
	height: 40px;
    width: 40px;
    line-height: 40px !important;
    background: #6c8693;
    text-align: center;
    border-radius: 50%;
    padding: 0px !important;
}

.nav>li>a.circular-button:hover{
    background: #6c8693;   
}


.circular-button i{
	color:#ffffff;
}

tr > td{
	padding: 10px;
	word-wrap:break-word;
	text-align:center;
	font-size: 14px;
	color:#888;

}

tr > td:first-child{
	text-align: left;
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #f5f9fb;
	color:#000;
}

tr > td:nth-child(3){
	color:#2196f3;
	
}

tr > td:first-child p{
	margin: 0;
	font-weight: 900;
}

tr > td:first-child small{
	color:#888;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#dropmenu{
	padding-top: 15px;
	top:20px;
}

.close{
	position: absolute;
    top: 5px;
    right: 6px;
    color: #2196f3;
    padding: 3px;
    border: 1px solid #2196f3;
    opacity: 1;
    font-size: 12px;
    border-radius: 20px;

}

#menu{
	padding-left: 8px;
}

#menu a{
	text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover{
	background: none;
}

















